<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User List</title>
  <%= stylesheet_link_tag 'user', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<ul class="list-group">
  <% @users.each do |user| %>
    <li class="list-group-item">
      <% if user.photo.present? %>
        <%= image_tag user.photo, class: 'user photo' %>
      <% end %>

      <span class="user_name"><%= user.name %></span>
      <span class="user-post-count">Number of posts: <%= user.posts.count %></span>

      <%= link_to 'View Profile', user_profile_path(user), class: 'btn btn-primary' %>
    </li>
  <% end %>
</ul>

</body>
</html>
