<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <header>
    <%= stylesheet_link_tag 'user', class: 'all', 'data-turbolinks-track': 'reload' %>
  </header>
</head>

<body>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="user-info-container">
        <% if @user.photo.present? %>
          <%= image_tag @user.photo, class: 'user-photo' %>
        <% end %>

        <div class="user-name"><%= @user.name %></div>
      </div>
    </div>
  </div>

  <div class="bio-section">
    <h2 class="bio-header">Bio</h2>
    <p class="bio-text"><%= @user.bio %></p>
  </div>

  <h2 class="mt-4">Posts</h2>
  <ul class="list-group">
    <% if @user.posts.empty? %>
      <li class="list-group-item">There are no posts for this user</li>
    <% else %>
      <% @user.recent_posts.each do |post| %>
        <%= render post %>
      <% end %>
    <% end %>
  </ul>

  <div class="button-container">
    <button><a href="<%= user_posts_path(@user) %>">See All Posts</a></button>
  </div>
</div>

</body>

</html>
